<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.matthew.weathertext</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/miniconda3/bin/python3</string>
        <string>/Users/mt1/Scripts/weather_imessage.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/weathertext.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/weathertext.err</string>
</dict>
</plist>
